#!/bin/bash

if test -z "$CLUSTER_NAME" 
then
  echo "ERROR no CLUSTER_NAME environment given"
  exit 5
fi
if test -z "$PASSWORD" 
then
  echo "ERROR no PASSWORD environment given"
  exit 5
fi

CASSANDRA_RACK=rack1
CASSANDRA_DC=datacenter

tar xzf /etc/cassandra.defaults.tgz -C /etc

cd /etc/cassandra

echo -e "dc= $CASSANDRA_DC\nrack= $CASSANDRA_RACK" >cassandra-rackdc.properties

sed cassandra.yaml -i -e " \
/cluster_name:/s/Test Cluster/$CLUSTER_NAME/; \
/client_encryption_options:/,+1{/enabled:/s/false/true/;}; \
/password:/s/cassandra/$PASSWORD/; \
/require_client_auth:/{s/# //;s/false/true/}; \
/# truststore/s/# //; \
/store:/s/conf./\/cert\/cassandra/; \
/internode_encryption:/s/none/all/; \
/endpoint_snitch:/s/SimpleSnitch/GossipingPropertyFileSnitch/; \
"
